body {
  padding-top: 5em;
  background-color: #fff2fa;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1 {
  font-family: 'Rancho', cursive;
  font-size: 4rem;
}

h2 {
  padding: 3rem 1.5rem;
  text-align: center;
  color: white;
  font-family: 'Rancho', cursive;
  font-size: 4rem;
}

.lead {
  color: white;
}
.starter-template{
  color: white
}

.carousel {
  width:320px;
  height:100%;
}

.carousel {
  margin: auto;
}

.navbar-brand {
  color: #fbb2df;
  font-family: 'Rancho', cursive;
  font-size: 1.7rem;
}

.navbar-brand:hover {
  color: red;
}

.pink {
  color: white;
}

.navbar {
  background-color: white;
}

.staff-icon {
  width:70%;
  border-radius: 50%;
  margin:auto;
  border-style: solid;
  border-color: white;
  border-width: 6px;
  box-shadow: 0px 0px 15px #dfb5ff;
}

h3 {
  padding: 3rem 1.5rem;
  text-align: center;
  color: white;
  font-family: 'Rancho', cursive;
  font-size: 3rem;
}

li {
  list-style-type: none;
  color: white;
}

footer {
  background-color: white;
  padding: 12px;
  text-align: center;
}

.container {
  background-color: #f3999d87;
  padding-bottom: 40px;
}

.p2 {
  color: white;
  text-align: center;
  padding: 3rem 1.5rem;
  font-size: 1.5rem;
  display:inline-block;
}
